langchain
jupyter
python-dotenv
langchain-community
pypdf
langchain_ollama
sentence_transformers
langchain_huggingface
faiss-cpu
streamlit
langchain-google-genai
google
google-generativeai
scikit-learn